
/*
	  ============================================================
		   Font Color
	  ============================================================
*/
.check_your_email,
.contact_social_icons li a:hover,
.contact-email a,
.info_text p a:hover,
.copyright .widget_right_icon li a:hover,
.input_filed input:focus,
.articles_post_text a:hover,

.subcribe_veldt_btn:hover,
.mian_banner_text h2 {
	color:rgba(211, 19, 14, 1) !important;
}
.widget_social_icon svg:hover path,
.subcribe_veldt_btn:hover svg > rect{
	fill: rgba(211, 19, 14, 1);
}
.subcribe_veldt_btn:hover svg > path{
	stroke: #fff;
}
.articles-list:hover svg rect{
fill:white;
}
/*
	  ============================================================
		   Background Color
	  ============================================================
*/
.technology_btn:hover,
.read-article-btn:hover{
	background:rgba(211, 19, 14, 1);
}
/*
	  ============================================================
		   Border Color
	  ============================================================
*/
.input_filed textarea:hover,
.articles_post:hover:before,
.input_filed input:focus,
.Search-veldt input:focus,
.subcribe_veldt_btn:hover{
	border-color:rgba(211, 19, 14, 1) !important;
}

/*
	  ============================================================
		   Trandition Color
	  ============================================================
*/
.articles_post:before,
.widget_social_icon svg path,
.check_your_email,
.contact_social_icons li a,
.info_text p a,
.articles_post,
.copyright .widget_right_icon li a,
.input_filed input,
.articles_post_text a,
.Search-veldt input,
.subcribe_veldt_btn svg,
.subcribe_veldt_btn,
.subcribe_veldt_btn svg > rect,
.subcribe_veldt_btn svg > path,
.technology_btn,
.nagivation ul li a,
.articles-list,
.read-article-btn{
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}

.navigation li .sub-menu li a:hover{
-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}