@media (max-width: 1700px) {
}
@media (max-width: 1550px) {
	.testimonial_text{
		padding: 30px 0px 50px 100px;
	}
}
/*
=================================================
				UP FROM 1200PX
=================================================
*/
@media (max-width: 1400px) {
  /*contact popup start*/
  .popup-02 .modal-dialog {
    width: 708px;
    /* height: auto; */
    
  }
  .popup-02 .subscribe_row{
	flex-direction: column;
  }
  .search_form.popup_form {
    flex-direction: column;
    justify-content: space-around;
  }
  .search_form.popup_form form,
  .search_form.popup_form h4 {
    width: 100%;
  }
  .responsive-style {
    padding: 0px 0px 70px;
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;
  }
  .subscribe_text.popup_form {
    padding-right: 0px;
  }

  .search_form.popup_form .input_filed {
    width: 100%;
  }
  section.testimonial_wrapper:before {
    background-size: 70%, 50%;
  }
  
  
}

@media (min-width: 990px) and (max-width: 1300px) {
  .banner-titled h1 {
    font-size: 66px;
  }
  .banner-titled span,
  .banner-titled h4,
  .banner-titled h3 {
    font-size: 50px;
    line-height: 46px;
  }
  .nagivation,
  .Search-veldt {
    display: none;
  }
  section {
    padding: 120px 35px 60px;
  }
  .subscribe_text p br,
  .feature_column p br {
    display: none;
  }
  section.testimonial_wrapper:before {
    background-size: 100%, 50%;
  }
  .subscribe_row .col-md-6 {
    width: 100%;
  }
  .input_filed {
    position: relative;
    margin-bottom: 20px;
    width: 80%;
  }
  .search_form {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .modal-body .Search-veldt,
  .modal-body .nagivation{
  display: block;
}
.menu-img{
	display: block;
}
/*menu style */
widget .modal-body {
	padding: 0px 14px;
}
.navigation_bg .close {
	color: #fff;
	left: auto;
	right: 8px;
	top: 12px;
	height: 30px;
	width: 30px;
	background: none !important;
	font-size: 22px;
}
.modal-body .Search-veldt,
.modal-body .nagivation{
display: block;
}
.modal-body .widget_right_icon{
	display: flex;
	justify-content: flex-end;
	padding-top: 20px;

}
.modal-body .nagivation ul li .Search-veldt input{
	border: none;
	padding:9px 0px 3px 4px;
	font-weight: 400;
	height: 22px;
	line-height: normal;
}
.modal-body  .Search-veldt a{
	left: auto;
	right: 0px;
}
.modal-body .nagivation ul {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}
.modal-body .nagivation ul li{
	width: 100%;
	padding: 10px 0px;
	border-bottom: 1px solid rgba(38, 39, 40, 1);
}
.modal-body .nagivation ul li a{
	font-size: 14px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

}

/*
=================================================
			FROM 992PX TO 1199PX
=================================================
*/
@media (min-width: 992px) and (max-width: 1199px) {
  /*contact popup start*/
  /* .popup-small .modal-dialog {
    width: 708px;
    height: auto;
    flex-direction: column;
  } */

  .search_form.popup_form {
    flex-direction: column;
    justify-content: space-around;
  }
  .subscribe_row{
	flex-direction: column;
  }
  .search_form.popup_form form,
  .search_form.popup_form h4 {
    width: 100%;
  }

  .responsive-style {
    padding: 0px 0px 70px;
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;
  }
  .subscribe_text.popup_form {
    padding-right: 0px;
  }

  .search_form.popup_form .input_filed {
    width: 100%;
  }
  .message_sent_detail {
    margin-top: 100px;
    margin-bottom: 90px;
    width: 100%;
  }
  .search_form .articles-list{
	margin:7px 7px 0px 20px;
		}
}
/*
=================================================
			FROM 0PX TO 979PX
=================================================
*/
@media (max-width: 991px) {
  /*contact popup start*/
  .banner-titled h1 {
    font-size: 50px;
    line-height: 65px;
  }
  .subscribe_row{
	flex-direction: column;
  }
  .banner-titled span,
  .banner-titled h4,
  .banner-titled h3 {
    font-size: 44px;
    line-height: 66px;
  }
  .banner-btn-wrapper {
    padding-top: 40px;
  }
  .features_wrapper .col-md-3 {
    width: 50%;
    float: left;
  }
  section.testimonial_wrapper:before {
    background-size: 100%, 100%;
  }
  .testimonial_text {
    padding: 40px 0px 70px 100px;
  }
  .nagivation,
  .Search-veldt {
    display: none;
  }
  /* .bg-img .subscribe_row {
    width: 708px;
    height: auto;
    flex-direction: column;
  } */
  .popup-02 .subscribe_row{
	flex-direction: column;
  }
  .search_form.popup_form {
    flex-direction: column;
    justify-content: space-around;
  }
  .search_form.popup_form form,
  .search_form.popup_form h4 {
    width: 100%;
  }
  .responsive-style {
    padding: 0px 0px 70px;
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;
  }
  .subscribe_text.popup_form {
    padding-right: 0px;
  }

  .search_form.popup_form .input_filed {
    width: 100%;
  }
  .message_sent_detail {
    width: 100%;
  }
  .message_sent_detail {
    margin-top: 100px;
    margin-bottom: 90px;
    width: 100%;
  }
  .menu-img{
	display: block;
}
/*menu style */
widget .modal-body {
	padding: 0px 14px;
}
.navigation_bg .close {
	color: #fff;
	left: auto;
	right: 8px;
	top: 12px;
	height: 30px;
	width: 30px;
	background: none !important;
	font-size: 22px;
}
.modal-body .Search-veldt,
.modal-body .nagivation{
display: block;
}
.modal-body .widget_right_icon{
	display: flex;
	justify-content: flex-end;
	padding-top: 20px;

}
.modal-body .nagivation ul li .Search-veldt input{
	border: none;
	padding:9px 0px 3px 4px;
	font-weight: 400;
	height: 22px;
	line-height: normal;
}
.modal-body  .Search-veldt a{
	left: auto;
	right: 0px;
}
.modal-body .nagivation ul {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}
.modal-body .nagivation ul li{
	width: 100%;
	padding: 10px 0px;
	border-bottom: 1px solid rgba(38, 39, 40, 1);
}
.modal-body .nagivation ul li a{
	font-size: 14px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.search_form .articles-list{
	margin:7px 7px 0px 20px;
		}
}
/*
=================================================
			FROM 768PX TO 979PX
=================================================
*/
@media (min-width: 768px) and (max-width: 979px) {
  /*contact popup start*/
  .popup-02 .subscribe_row{
	flex-direction: column;
  }
  .search_form.popup_form {
    flex-direction: column;
    justify-content: space-around;
  }
  .search_form.popup_form form,
  .search_form.popup_form h4 {
    width: 100%;
  }
  .responsive-style {
    padding: 0px 0px 70px;
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;
  }
  .subscribe_text.popup_form {
    padding-right: 0px;
  }
 
  .search_form.popup_form .input_filed {
    width: 100%;
  }

  
}
/*
=================================================
			FROM 0PX TO 767PX
=================================================
*/
@media (max-width: 767px) {
  /*contact popup start*/

  .popup-02 .subscribe_row{
	flex-direction: column;
  }
  .search_form.popup_form {
    flex-direction: column;
    justify-content: space-around;
  }
  .search_form.popup_form form,
  .search_form.popup_form h4 {
    width: 100%;
  }
  .responsive-style {
    padding: 0px 0px 70px;
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;
  }
  .subscribe_text.popup_form {
    padding-right: 0px;
  }
 
  .search_form.popup_form .input_filed {
    width: 100%;
  }
  .popup-01 .popup_form .title_text {
    font-size: 42px;
  }
  .popup-small .modal-dialog{
	width: 100%;
	margin: 0px;
	padding: 20px;
  }
  .popup-02 .modal-dialog{
	width: auto;
  }
  
}
@media (min-width: 640px) and (max-width: 800px) {
	.testimonial_text {
		width: 100%;
	}
	.testimonial_wrapper .slick-dots {
		margin-left: 0px;
	}
	.testimonial_text {
        padding: 40px 0px 70px 0px;
    }
	.main_header{
		padding: 25px 20px 16px;
		background-color:rgba(27, 27, 27, 1) ;
	}
	.logo{
		font-size: 22px;
	}
	section.testimonial_wrapper:before {
        background-size: cover !important;
    }
	.menu-img{
		display: block;
	}
  .pet_team_text::before {
		top: -62px;
	}
	.popup-01 .popup_form .title_text {
		font-size: 34px;
	}
	.info_row{
		flex-direction: column;
	}
	.social_contact {
		margin-bottom: 30px;
	}
	.popup_form .title_text {
		font-size: 56px;
	}
	.subscribe_text p br{
		display: none;
	}
	.info_row {
		margin-top: 30px;
	}
	.responsive-style {
        padding: 0px 0px 40px;
        margin-bottom: 10px;
    }
	.publishing_text {
		width: 100%;
	}
	.banner-warpper .slick-dots {
		left: 0px;
        bottom: -23px;
        right: 0px;
        margin: 0px auto;
        text-align: center;
	}
	.testimonial-slider {
		width: 100%;
	}
	section {
		padding: 120px 5px 60px;
	}
	section.testimonial_wrapper {
		padding: 60px 20px 110px;
	}
	.section_top_heading {
		line-height: 40px;
		font-size: 39px;
	}
	.subscribe_row {
		padding: 100px 10px;
	}
	.subscribe_form_wrapper{
		padding: 50px 10px 0px;
	}
	.footer {
		padding: 30px 20px 30px;
	}
	.footer_top_row.copyright{
		flex-direction: column;
		float: right;
	}
	.footer_top_row p{
		margin: 0px 0px 0px;
        width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
	}
	.footer_top_row{
		float: left;
		margin-bottom: 0px;
	}
	.footer_top_row .top-veldt-title{
		line-height: 38px;
	}
	.title_text {
		font-size: 32px;
	}
	.features_wrapper .col-md-3 {
        width: 100%;
    }
	.feature_column p br{
		display: none;
	}
	.banner-warpper .slick-slide img {
		display: block;
		height: 541px;
		object-fit: cover;
	}
	.banner-titled span, .banner-titled h4, .banner-titled h3{
		font-size: 26px;
	}
	.articles_post_text h4{
		font-size: 22px;
	}
	.testimonial_text h3{
		font-size: 40px;
	}
	.read-article-btn {
		font-size: 13px;
		margin-left: 11px !important;
	}
	.banner-btn-wrapper {
        padding-top: 25px;
    }
	.banner_text {
		position: absolute;
		top: 50%;
		right: 40px;
		margin: -20px auto;
		right: 30px;
	}
	.banner-titled{
		padding-bottom: 0px;
	}
	.articles-list{
		float: left;
	}
	.publishing_wrapper{
		min-height: 540px !important;
	}
	.publishing_text .title_text {
		line-height: normal;
	}
	section.features_wrapper {
		padding-left: 20px;
	}
	.search_form .articles-list {
        float: right;
    }
	section.latest_articles_wrapper {
		padding: 50px 0px;
	}
	.banner-titled h1 {
        font-size: 40px;
        line-height: 55px;
    }
	.widget_social_icon,
	ul.widget_right_icon{
		display: none;
	}
	.row.subscribe_row{
		width: 100%;
        flex-direction: column;
        padding: 60px 10px;
        margin: 0px 0px;
	} 

	/* popup-1 start */
	.popup-01 form{
		display: inline;
	}
	.popup-01{
		padding: 50px 30px !important;
	}

	/*menu style */
	widget .modal-body {
		padding: 0px 14px;
	}
	.navigation_bg .close {
		color: #fff;
		left: auto;
		right: 8px;
		top: 12px;
		height: 30px;
		width: 30px;
		background: none !important;
		font-size: 22px;
	}
	.modal-body .Search-veldt,
.modal-body .nagivation{
display: block;
	}
	.modal-body .widget_right_icon{
		display: flex;
        justify-content: flex-end;
        padding-top: 20px;

	}
	.modal-body .nagivation ul li .Search-veldt input{
		border: none;
        padding:9px 0px 3px 4px;
        font-weight: 400;
        height: 22px;
        line-height: normal;
	}
	.modal-body  .Search-veldt a{
		left: auto;
		right: 0px;
	}
	.modal-body .nagivation ul {
		display: flex;
		flex-direction: column;
		margin-top: 10px;
	}
	.modal-body .nagivation ul li{
		width: 100%;
		padding: 10px 0px;
		border-bottom: 1px solid rgba(38, 39, 40, 1);
	}
	.modal-body .nagivation ul li a{
		font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        display: flex;
        align-items: center;
        justify-content: space-between;
	}
	.banner-btn-wrapper{
		display: none;
	}
	.banner-btn-wrapper.responsive-show{
		display: flex;
		justify-content: flex-start;
	}
	
}
/*
=================================================
			FROM 0PX TO 0PX
=================================================
*/
@media (min-width: 340px) and (max-width: 640px) {
	.testimonial_text {
		width: 100%;
	}
	.subcribe_veldt_btn{
		width:100%;
	}
	.testimonial_text {
        padding: 40px 0px 70px 0px;
    }
	.main_header{
		padding: 25px 20px 16px;
		background-color:rgba(27, 27, 27, 1) ;
	}
	.logo{
		font-size: 22px;
	}
	section.testimonial_wrapper:before {
        background-size: cover !important;
    }
	.menu-img{
		display: block;
	}
  .pet_team_text::before {
		top: -62px;
	}
	.popup-01 .popup_form .title_text {
		font-size: 34px;
	}
	.info_row{
		flex-direction: column;
	}
	.social_contact {
		margin-bottom: 30px;
	}
	.popup_form .title_text {
		font-size: 40px;
	}
	.subscribe_text p br{
		display: none;
	}
	.info_row {
		margin-top: 30px;
	}
	.responsive-style {
        padding: 0px 0px 40px;
        margin-bottom: 10px;
    }
	.publishing_text {
		width: 100%;
	}
	.banner-warpper .slick-dots {
		left: 0px;
        bottom: -23px;
        right: 0px;
        margin: 0px auto;
        text-align: center;
	}
	.testimonial-slider {
		width: 100%;
	}
	section {
		padding: 120px 5px 60px;
	}
	section.testimonial_wrapper {
		padding: 60px 20px 110px;
	}
	.section_top_heading {
		line-height: 40px;
		font-size: 34px;
	}
	.subscribe_row {
		padding: 100px 10px;
	}
	.subscribe_form_wrapper{
		padding: 50px 10px 0px;
	}
	.footer {
		padding: 30px 20px 30px;
	}
	.footer_top_row.copyright{
		flex-direction: column;
		float: right;
	}
	.footer_top_row p{
		margin: 0px 0px 0px;
        width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
	}
	.footer_top_row{
		float: left;
		margin-bottom: 0px;
	}
	.footer_top_row .top-veldt-title{
		line-height: 38px;
	}
	.title_text {
		font-size: 32px;
	}
	.features_wrapper .col-md-3 {
        width: 100%;
    }
	.feature_column p br{
		display: none;
	}
	.banner-warpper .slick-slide img {
		display: block;
		object-fit: cover;
	}
	.banner-titled span, .banner-titled h4, .banner-titled h3{
		font-size: 26px;
	}
	.articles_post_text h4{
		font-size: 22px;
	}
	.testimonial_text h3{
		font-size: 40px;
	}
	.read-article-btn {
		font-size: 13px;
		margin-left: 11px !important;
	}
	.banner-btn-wrapper {
        padding-top: 25px;
    }
	.banner_text {
		position: absolute;
		top: 50%;
		right: 40px;
		margin: -20px auto;
		left: 30px;
		width: 300px;
	}
	.banner-titled{
		padding-bottom: 0px;
	}
	.articles-list{
		float: left;
	}
	.publishing_wrapper{
		min-height: auto !important;
        padding: 90px 0px;
	}
	.publishing_text .title_text {
		line-height: normal;
	}
	section.features_wrapper {
		padding-left: 20px;
	}
	.search_form .articles-list {
        float: right;
    }
	section.latest_articles_wrapper {
		padding: 50px 0px;
	}
	.banner-titled h1 {
        font-size: 36px;
        line-height: 55px;
    }
	.widget_social_icon,
	ul.widget_right_icon{
		display: none;
	}
	.row.subscribe_row{
		width: 100%;
        flex-direction: column;
        padding: 60px 10px;
        margin: 0px 0px;
	} 
	.testimonial_wrapper .slick-dots {
		margin-left: 0px;
	}
	.destop-img{
		display: none !important;
	}
	.banner-warpper .show-responsive{
		display: block !important;
	}
	/* popup-1 start */
	.popup-01 form{
		display: inline;
	}
	.popup-01{
		padding: 50px 30px !important;
	}

	/*menu style */
	widget .modal-body {
		padding: 0px 14px;
	}
	.navigation_bg .close {
		color: #fff;
		left: auto;
		right: 8px;
		top: 12px;
		height: 30px;
		width: 30px;
		background: none !important;
		font-size: 22px;
	}
	.modal-body .Search-veldt,
.modal-body .nagivation{
display: block;
	}
	.modal-body .widget_right_icon{
		display: flex;
        justify-content: flex-end;
        padding-top: 20px;

	}
	.modal-body .nagivation ul li .Search-veldt input{
		border: none;
        padding:9px 0px 3px 4px;
        font-weight: 400;
        height: 22px;
        line-height: normal;
	}
	.modal-body  .Search-veldt a{
		left: auto;
		right: 0px;
	}
	.modal-body .nagivation ul {
		display: flex;
		flex-direction: column;
		margin-top: 10px;
	}
	.modal-body .nagivation ul li{
		width: 100%;
		padding: 10px 0px;
		border-bottom: 1px solid rgba(38, 39, 40, 1);
	}
	.modal-body .nagivation ul li a{
		font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        display: flex;
        align-items: center;
        justify-content: space-between;
	}
	.banner-btn-wrapper{
		display: none;
	}
	.banner-btn-wrapper.responsive-show{
		display: flex;
		justify-content: flex-start;
	}
}
/*
=================================================
			FROM 0PX TO 0PX
=================================================
*/
@media (max-width: 481px) {
	

}


/*
=================================================
			FROM 0PX TO 0PX
=================================================
*/
@media (max-width: 480px) {
	section.features_wrapper {
		padding-left: 0px;
	}
	.publishing_text {
		width: 100%;
	}
}

@media (max-width: 380px) {
}
/*404 page start*/
