.read-article-btn{
    font-size: 16px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 18px 10px 20px;
    color: rgba(255, 255, 255, 1) !important;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.read-article-btn img{
    width: auto;
    margin-left: 14px;
}