
/*
      ======================================================================================
									bg white coloer  Start   
      ======================================================================================
*/
/*color white*/
.section_top_heading,
.date_list,
.articles_post_text a,
.articles_post_text h4,
.title_text,
.feature_column p,
.feature_column h5,
.subscribe_text p,
.footer_top_row p,
.copyright .widget_right_icon li a{
	color:rgba(205, 205, 205, 1);
}
.top-veldt-title,
.message_sent_detail h4,
.contact_social_icons li a,
.popup_form .title_text,
.subscribe_text h3,
.subscribe_text p,
.info_row li a,
.search_form h4,
.info_text h6{
color:rgba(255, 255, 255, 1)
}
/**/
.testimonial_text a,
.testimonial_text p,
.testimonial_text h3,
.subcribe_veldt_btn,
.publishing_text h3.title_text,
.Search-veldt input::placeholder,
.Search-veldt a,
.logo,
.Search-veldt input,
.banner-titled,
.banner-titled h1,
.banner-titled span,
.banner-titled h4,
.banner-titled h3{
	color:rgba(255, 255, 255, 1) !important;
}
/*white-color*/

/*color white*/
.widget_social_icon svg path{
	fill:rgba(51, 51, 51, 1);
}
.bg-white .message_sent_detail p,
.bg-white .subscribe_text .title_text,
.bg-white .top-veldt-title,
.bg-white .logo,
.bg-white .Search-veldt input,
.bg-white .Search-veldt input::placeholder,
.bg-white .Search-veldt a,
.bg-white .banner-titled,
.bg-white .banner-titled h1,
.bg-white .banner-titled span,
.bg-white .banner-titled h4,
.bg-white .banner-titled h3,
.bg-white .section_top_heading,
.bg-white .date_list,
.bg-white .articles_post_text a,
.bg-white .articles_post_text h4,
.bg-white .title_text,
.bg-white .subcribe_veldt_btn,
.bg-white .feature_column p,
.bg-white .feature_column h5,
.bg-white .testimonial_text a,
.bg-white .testimonial_text p,
.bg-white .testimonial_text h3,
.bg-white .subscribe_text p,
.bg-white .footer_top_row p,
.bg-white  .copyright .widget_right_icon li a{
	color: rgba(51, 51, 51, 1)
}
.bg-white .articles-list:hover{
	color: rgba(51, 51, 51, 1) !important;
}
.bg-white .message_sent_detail h4,
.bg-white .contact_social_icons li a,
.bg-white .popup_form .title_text,
.bg-white .subscribe_text h3,
.bg-white .subscribe_text p,
.bg-white .info_row li a,
.bg-white .search_form h4,
.bg-white .info_text h6{
color:rgba(51, 51, 51, 1);
}
.bg-white .footer_top_row.copyright p{
	color:rgba(51, 51, 51, 1) !important;
}
.bg-white  .banner-warpper .slick-dots li.slick-active{
 background-color: rgba(0, 0, 0, 1) !important;
}
/*--bg change-----*/
.bg-white  .banner-warpper .slick-dots li,
.bg-white .navigation_bg{
	background:rgba(255, 255, 255, 1) !important;
}
.bg-white .footer,
.bg-white .subscribe_row,
.bg-white .articles_post{
	background:rgba(243, 243, 243, 1);
}
.bg-white .widget_social_icon li a svg path {
	fill:rgba(0, 0, 0, 1) !important
}
/*--bg change-----*/

/*-------*/

.bg-black{
	background-color:#1b1b1b;
}
.wrapper {
	float: left;
	width: 100%;
	overflow: hidden;
}
.banner-btn-wrapper.responsive-show{
	display: none;
}
.bg-white .info_text p a,
.bg-white .navigation_bg .close,
.bg-white .modal-body .Search-veldt a,
.bg-white .modal-body .nagivation ul li a,
.bg-white .modal-body .logo{
	color:rgba(0, 0, 0, 1) !important;
}
.bg-white  .modal-content{
box-shadow: none;
border:none;
}
.bg-white .modal-body .nagivation ul li{
	border-color:rgba(218, 218, 218, 1) !important;
}
.bg-white .modal-body .nagivation ul li .Search-veldt input{
	background: none !important;
}
.bg-white .modal-body .nagivation ul li .Search-veldt input::placeholder{
	color:rgb(9, 9, 9) !important;
}
.bg-white svg {
    stroke: rgb(9, 9, 9) !important;
    fill: rgb(9, 9, 9) !important;
}
/**/
.white-bg-show-svg{
	display: none;
}
.bg-white .white-bg-show-svg{
	display: block;
}
.bg-white .feature_column span{
	display: none;
}
.bg-white svg{
	stroke: none !important;
}
.bg-white .widget_right_icon.term{
	display: flex;
}
.bg-white .widget_right_svg{
display: block;
}
.bg-white .widget_right_icon{
display:none;
}
/*
      ======================================================================================
									bg white coloer  end   
      ======================================================================================
*/
/**/
/*
      ======================================================================================
									Header Start   
      ======================================================================================
*/
.slick-arrow{
	display: none !important;
}
.menu-img{
	display: none;
	height: 30px;
	width:30px;
	line-height: 26px;
	border:1px solid rgba(255, 255, 255, 0.2);
	text-align: center;
	border-radius:100px;
}
.main_header{
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px  50px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
}
.logo {
	font-size: 32px;
	font-weight: 600;
	line-height: 48px;
	text-align: left;
	margin-bottom: 0px;
}
.logo span{
	font-weight: 300;
}
/*--------------*/
.nagivation ul
 {
	display: flex;
}
.nagivation ul li{
	margin-right: 45px;
}
.nagivation ul li a{
	font-size: 18px;
	font-weight: 500;
	line-height: 27px;
	color:rgba(255, 255, 255, 0.6);
}
.nagivation ul li a:hover{
	color:rgba(255, 255, 255, 1);
}
.nagivation ul li:last-child{
	margin-right: 0px;;
}
.Search-veldt{
	position: relative;
}
.Search-veldt input{
	width: 300px;
	height: 44px;
	padding: 13px 0px 13px 42px;
	border: 1px solid rgba(255, 255, 255, 0.33);
	font-size: 14px;
	background: rgba(0, 0, 0, 0.6);
}
.Search-veldt input:focus{
	outline: none;
}
.Search-veldt a{
	position: absolute;
    top: 50%;
    left: 17px;
    margin-top: -11px;
}

/**/
.nagivation .accordion-content {
    display: none;
    padding: 10px 30px;
    background: none;
    border: none;
    border-radius: 3px;
	transition: max-height 0.1s ease-out;
  }
  .nagivation .accordion-content a{
	font-size: 14px !important;
	font-weight: 500;
	line-height: 16.94px;
	text-align: left;
	color:#fff;
	display: block;
	margin-bottom: 20px;
  }

  .nagivation .accordion-content.active {
    display: block;
  }
  /**/
/*
      ======================================================================================
									Header End   
      ======================================================================================
*/

/*
      ======================================================================================
									Main Banner Start  
      ======================================================================================
*/
.banner_text{
	position: absolute;
    top: 50%;
    right: 60px;
    margin: -120px auto;
}
.banner-titled {
	border-bottom: 2px solid rgba(211, 19, 14, 1);
	padding-bottom: 20px;
}
.banner-titled h1{
    font-size: 96px;
    font-weight: 600;
    line-height: 125px;
    text-align: left;
    margin-bottom: 0px;
}
.banner-titled h1 italic{
	font-weight: 400;
	font-style: italic;
}
.banner-titled span,
.banner-titled h4,
.banner-titled h3{
	display:inline-block;
	font-size: 64px;
	line-height: 96px;
	font-style: italic;
}
.banner-titled h3{
	font-weight: 100;
}
.banner-titled h4{
	font-weight: 400;
	margin: 0px 10px;
}
.banner-titled span{
	font-weight: 600;
}
.banner-btn-wrapper{
	display: flex;
    justify-content: flex-end;
    padding-top: 50px;
}
.banner-btn-wrapper a{
	margin-left: 48px;
}
.banner-btn-wrapper a svg{
	margin-left: 10px;
}
/*slick slider styling start*/
.banner-warpper .slick-dots{
	text-align: left;
    right: auto;
    width: auto;
    left: 70px;
    bottom: -23px;
}
.testimonial_wrapper .slick-dots li,
.banner-warpper .slick-dots li{
	width: 48px;
	height: 48px;
	border-radius:100px;
	border: 2px solid rgba(211, 19, 14, 1);
	background-color:#1b1b1b;
}
.testimonial_wrapper .slick-dots li.slick-active,
.banner-warpper .slick-dots li.slick-active{
border-color: rgba(255, 255, 255, 1);
}
.testimonial_wrapper .slick-dots li button,
.banner-warpper .slick-dots li button{
	width: 48px;
    height: 48px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 600;
    line-height: 6px;
    text-align: center;
    color: rgba(211, 19, 14, 1);
    position: relative;
    left: -1px;
}
.testimonial_wrapper .slick-dots li.slick-active button,
.banner-warpper .slick-dots li.slick-active button{
	color: rgba(255, 255, 255, 1);
}
.banner-warpper  .slick-arrow{
 display: none !important;
}
/*
      ======================================================================================
									Main Banner End  
      ======================================================================================
*/

/*
      ======================================================================================
									latest articles wrapperStart  
      ======================================================================================
*/
section{
	padding:120px 70px 60px;
	float: left;
	width: 100%;
}
.top-veldt-title{
font-size: 16px;
font-weight: 600;
line-height: 24px;
border-bottom:1px solid rgba(123, 124, 136, 1);
padding:0px 0px 15px;
position: relative;
margin-bottom: 70px;
}
.input_filed:before,
.top-veldt-title:before{
	position: absolute;
	content: "";
	top: auto;
	left: auto;
	right: 0px;
	bottom: 0px;
	height: 20px;
	width: 1px;
	background:rgba(123, 124, 136, 1);;
}
.top-veldt-title span{
	font-weight: 300;
}
/*section top heading start*/
.section_top_heading{
	font-weight: 500;
	line-height: 100px;
	margin-bottom: 40px;
}
.section_top_heading span{
	font-weight: 300;
	font-style: italic;
}
.articles-row{
float: left;
width: 100%;	
}
.articles-list{
	font-size: 17.9px;
    font-weight: 500;
    line-height: normal;
    color: rgba(211, 19, 14, 1);
    float: right;
    border-bottom: 2px solid;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.articles-list svg{
	margin-left: 8px;
}
.articles-list:hover{
	color:rgba(255, 255, 255, 1);
}
/*post style start*/
.articles_post_text,
.articles_post{
	float: left;
	width:100%;
}
.articles_post{
	background: rgba(17, 17, 17, 1);
	position: relative;
}
.articles_post:before{
	position: absolute;
	content: "";
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border: 2px solid transparent;
	z-index: 1;
}
.articles_post:hover{
	border-color:rgba(211, 19, 14, 1) !important;
}
.articles_post figure{
	width:80%;
}
.articles_post figure img{
	width: 100%;
	height: 100%;
	object-position: center;
}
.technology_btn{
	position: absolute;
    top: 15px;
    left: 15px;
    background: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
    padding: 6px 12px;
	z-index: 999;
}
.technology_btn:hover{
	color: rgba(255, 255, 255, 1);
}
.articles_post_text{
	padding: 50px 40px 40px;
    position: relative;
    z-index: 99;
}
.date_list{
	display: block;
	font-family: Inter;
	font-size: 14px;
	position: relative;
	display: inline-block;
	margin-bottom: 12px;
}
.date_list:before{
	position: absolute;
    content: "";
    top: auto;
    left: auto;
    right: -23px;
    bottom: 6px;
    width: 19px;
    height: 1px;
    background: rgba(239, 100, 76, 1);
}
.articles_post_text a{
	font-family: Inter;
	font-size: 14px;
	text-align: left;
	display: block;
	margin-bottom: 15px;
}
.articles_post_text h4{
	margin-bottom: 0px;
	font-weight: 600;
	overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
   font-family:Inter;
}
.articles_post_text h4 span{
	font-style: italic;
	font-weight: 300;
}
.articles_post_text h4 b{
	font-style: normal;
	font-weight: 600 !important;
	
}
.latest_articles_wrapper .slick-slide{
    padding: 0px 15px;
}
.latest_articles_wrapper .top-veldt-title,
.latest_articles_wrapper .articles-list {
	margin-right: 15px;
}
/*
      ======================================================================================
									latest articles wrapper End  
      ======================================================================================
*/

/*
      ======================================================================================
									publishing wrapper start  
      ======================================================================================
*/
.publishing_wrapper{
	background-image: url(images/publishing-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 780px !important;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.publishing_text{
	width: 635px;
}
.title_text{
	font-size: 60px;
	font-weight: 600;
}
.title_text span{
	font-weight: 400;
	font-style: italic;
}
.publishing_text .title_text{
	margin-bottom: 60px;
}
/*subcribe veldt btn*/
.subcribe_veldt_btn{
	width: 364px;
    font-size: 23.66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
	border-bottom: 1px solid rgba(255, 255, 255, 1);
	padding-bottom: 15px;
}
/*
      ======================================================================================
								publishing wrapper End  
      ======================================================================================
*/

/*
      ======================================================================================
								feature wrapper Start  
      ======================================================================================
*/
.feature_column h5{
	margin-bottom: 15px;
	font-weight: 500;
}
.feature_column {
    padding-top: 40px;
}
.feature_column p{
	font-weight: 400;
}
.feature_column span{
	display: block;
	margin-bottom: 10px;
}
/*
      ======================================================================================
								feature wrapper End  
      ======================================================================================
*/

/*
      ======================================================================================
								testimonial wrapper Start  
      ======================================================================================
*/
section.testimonial_wrapper {
    padding: 60px 70px 110px;
	position: relative;
	min-height: 805px;
}
section.testimonial_wrapper:before{
	position: absolute;
    content: "";
    top: 175px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url(images/testimonial-bg.png);
    background-repeat: no-repeat;
    z-index: -1;
    height: 725px;
    background-size: 60%, 50%;
}
.testimonial_text{
	width: 613px;
    position: relative;
    z-index: 1;
    padding: 70px 0px 70px 100px;
}
.testimonial_text h3{
	margin-bottom: 35px;
}
.testimonial_text a,
.testimonial_text p{
	font-size: 20px;
	line-height: 39px;
	margin-bottom: 30px;
}
.testimonial_text a{
	margin-bottom: 0px;
	font-weight: 600;
}
.testimonial-slider{
	width: 613px;
}
/*slick slider start */
.testimonial_wrapper .slick-dots li{
	 border-color:#707274;
	background: none;
	color:#707274;
}
.testimonial_wrapper .slick-dots li button{
	color:#707274;
}
.testimonial_wrapper .slick-dots {
    text-align: left;
    margin-left: 94px;
	bottom: -17px;
}
.testimonial_wrapper .slick-dots li{
	margin: 0 9px;
}
/*
      ======================================================================================
								testimonial wrapper End  
      ======================================================================================
*/


/*
      ======================================================================================
								subscribe form wrapper Start
      ======================================================================================
*/
.subscribe_form_wrapper {
    float: left;
    width: 100%;
    padding: 50px 50px 0px;
}
.subscribe_row{
	padding: 100px 50px;
	background: rgba(17, 17, 17, 1);
	float:left;
	width: 100%;
	display: flex;
}
.subscribe_text .title_text{
	margin-bottom: 30px;
}
.search_form {
    float: left;
    width: 100%;
    padding-top: 32px;
}
.input_filed{
	position: relative;
	margin-bottom: 20px;
}
.input_filed input{
	height: 56px;
	width: 100%;
	background:none;
	border: none;
	border-bottom: 1px solid rgba(110, 110, 121, 1);
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	padding: 0px;
}
.search_form .articles-list{
	margin-bottom: 0px;
}
/*
      ======================================================================================
								subscribe form wrapper End
      ======================================================================================
*/

/*
      ======================================================================================
								footer start
      ======================================================================================
*/
.footer {
    float: left;
    width: 100%;
    padding:40px 90px 10px;
	background: rgba(17, 17, 17, 1);
}
.footer_top_row {
    display: flex;
    justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}
.footer_top_row .top-veldt-title{
	font-size: 17px;
	font-weight: 600;
} 
.footer_top_row .top-veldt-title{
	border-bottom: none;
	margin-bottom: 0px;
	padding: 0px 0px;
}
.footer_top_row .top-veldt-title:before{
	height: 0px;
}
ul.widget_right_icon {
    display: flex;
}
ul.widget_right_icon li{
	margin-right: 10px;
}
.widget_social_icon li:last-child,
ul.widget_right_icon li:last-child{
	margin-right: 0px;
}
/*widget social icon*/
.widget_social_icon{
display: flex;	
align-items: center;
margin-bottom: 20px;
}
.widget_social_icon li{
	margin-right: 18px;
}
.widget_social_icon li svg path{
	fill: #fff;
}
.footer_top_row p {
	font-size: 14px;
	font-weight: 400;
	line-height: 39px;
	margin: 0px 0px;
	color: rgba(51, 51, 51, 1) !important;
}
.footer_top_row p  {
	font-weight: 500;
}
.copyright{
	margin-bottom: 0px;
} 
.footer_top_row.copyright p{
	color:#fff !important;
}
.copyright .widget_right_icon li{
	padding: 0px 15px;
    border-right: 1px solid rgba(205, 205, 205, 0.4);
    line-height: 12px;
    margin-right: 0px;
}
.copyright .widget_right_icon li a{
	font-weight:400;
	font-size: 14px;
}
.copyright .widget_right_icon :last-child{
	padding-right: 0px;
	border-right: none;
}
/*widget right svg start*/
.widget_right_svg {
    display: flex;
    justify-content: flex-end;
    display: none;
}
.widget_right_svg a img {
    width: 28%;
}
/*
      ======================================================================================
								footer end
      ======================================================================================
*/




/*
      ======================================================================================
								contact us popup start
      ======================================================================================
*/
/*contact popup start*/
.bg-img{
	float: left;
	width: 100%;
	background-image: url("images/contact-us-bg.png");
	background-repeat: no-repeat;
	height: 1600px;
	position: relative;
	
}
.modal-body{
	padding:0px;
}
.modal-content{
	background: transparent;
}
.popup-02 .modal-dialog{
	padding: 30px 40px;
    /* height: 600px; */
    width: 1358px;
    /* position: fixed;
    top: 50%;
    margin: -280px auto;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between; */
}
.modal-content {
	float: left;
	width: 100%;
}
.close {
    float: right;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    /* text-shadow: 0 1px 0 #fff; */
    filter: alpha(opacity = 20);
    opacity: 1;
	height: 19px;
	width:19px;
	border-radius: 100px;
	border:1px solid rgba(39, 40, 41, 1) !important;
	background:rgba(39, 40, 41, 1) !important;
	position: absolute;
	top: 15px;
    right: 20px;
}
.model_column{
	width:100%;
}
.info_row{
	margin-top: 70px;
}
.subscribe_text.popup_form {
    padding-right: 50px;
}
.popup_form .title_text{
	font-size: 80px;
    font-weight: 500;
}
.popup_form .title_text span{
	font-weight: 300;
}
.info_row{
	display: flex;
	justify-content: space-between;
}
.contact_social_icons{
	display: flex;
}
.contact_social_icons li{
	margin-right: 30px;
}
.info_text h6{
	font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 20px;
}
.info_text p{
	margin-bottom: 40px;
}
.info_text p a{
	display: block;
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
}
.popup_form .input_filed{
	position: relative;
}
.popup_form .input_filed input{
	font-weight: 400;
	font-size: 16px;
}
.input_filed textarea,
.popup_form .input_filed input::-webkit-input-placeholder{
	color: rgba(149, 149, 149, 1)
}
.input_filed textarea {
	height: 140px;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(110, 110, 121, 1);
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0px;
}
.search_form > h4{
	font-weight: 500;
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 50px;
}
.popup_form .articles-list{
	margin: 20px 0px 0px;
}
.email-theve:hover{
	color: white;
}
/*contact popup end*/

/*popup 01 start*/
.popup-small .modal-dialog{
	width: 936px ;
	padding:80px 0px;
	/* margin: -200px auto !important; */
}
.popup-01 .popup_form .title_text{
	font-size: 60px;
}
.popup-01 form {
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin-top: 40px;
}
.popup-01 .input_filed{
	width:100%;
	margin-right: 40px;
}
.popup-01  .articles-list{
	margin-bottom:0px;
}
/*popup 01 End*/

/*popup 02 Start*/
.message_sent_detail{
	margin-top: 170px;
}
.message_sent_detail h4{
font-size: 32px;
font-weight: 500;
line-height: 40px;
margin-bottom: 0px;
}
.message_sent_detail p{
	font-size: 26px;
	font-weight: 300;
	line-height: 40px;
	color: rgba(255, 255, 255, 0.6)
}
/*popup 02 End*/

/*popup 03 Start*/
.check_your_email{
font-size: 20px;
font-weight: 400;
line-height: 40px;
margin: 30px 0px 0px 0px;
display: block;
}
.check_your_email:hover{
	color: #fff;
}
/*popup 03 End*/

.navigation_bg{
	background:#000;
}
.navigation_bg .close{
	color: #fff;
	left:0px;
	right: 0px;
	top: 0px;
}
.show-responsive{
	display: none !important;
}

/*
      ======================================================================================
								contact us popup end
      ======================================================================================
*/